*,*:before,*:after {
    font: 12px "Microsoft YaHei",tahoma,Arial,SimSun,sans-serif,serif
}

input::-ms-clear {
    display: none
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.circle {
    border-radius: 50% 50%
}

.unselectable {
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    cursor: default
}

.clearfix {
    *zoom: 1
}

.clearfix:before,.clearfix:after {
    display: table;
    line-height: 0;
    content: ""
}

.clearfix:after {
    clear: both
}

.center {
    vertical-align: middle;
    text-align: center
}

#loading-mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    z-index: 99999
}

#loading {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -20px;
    z-index: 100000
}

#loading-msg {
    font: 400 12px arial,tahoma,sans-serif;
    line-height: 20px;
    height: 20px;
    display: block!important
}

#progress-bar {
    height: 10px;
    border: solid #41873A 1px;
    padding: 1px
}

#progress-bar-inner {
    width: 0;
    height: 100%;
    background: #41873A
}