<include file="./App/MSSP/View/header.html" xmlns="http://www.w3.org/1999/html"/>
<div class="main">
    <div class="m-nav">
        <div class="inner">
            <div class="reply">
                <a href="" class="mod-btn"><i class="fa fa-reply"></i> 返回</a>
            </div>
            <div class="form-search btn-left">
                <button class="form-search-submit">当前网站</button>
                <input class="form-search-input" type="text" placeholder="搜索" />
            </div>
            <div class="form-search btn-right pull-right">
                <input class="form-search-input" type="text" placeholder="搜索"/>
                <button class="form-search-submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
    <div class="m-inner">
        <!--综合评测-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">综合评测</h3>
            </div>
            <div class="panel-tip">
                <span class="dots"></span>
                <span class="panel-tip-info">当天网站整体可用性良好，全国36个监测节点中有超过2/3的节点可正常访问，全天出现网站故障3 次，
                    共计时长123分钟，主要出现在新疆和台湾节点；网站首页访问效率为中等，用时123秒，有待进一步提高。
                </span>
            </div>
            <div class="panel-body">
                <div class="detail">
                    <h5>当时故障时长</h5>
                    <div class="total"><span class="blue">123</span>分钟</div>
                    <div class="total-desc">当日故障共计<span class="blue">3</span>次</div>
                </div>
                <div class="detail">
                    <h5>页面加载效率</h5>
                    <div class="total"><span class="blue">中</span></div>
                    <div class="total-desc">页面加载共用时<span class="blue">12</span>秒</div>
                </div>
                <div class="detail">
                    <h5>可访问省份</h5>
                    <div class="total"><span class="blue">24/36</span></div>
                    <div class="total-desc">最长连接时间<span class="blue">36</span>秒</div>
                </div>
                <div class="detail">
                    <h5>监测中站点</h5>
                    <div class="total"><span class="blue">2</span>次</div>
                    <div class="total-desc">最后更新日期：<span class="blue">2015-07-01</span></div>
                </div>
            </div>
        </div>
        <!--可用性分析-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">可用性分析</h3>
            </div>
            <div class="panel-tip">
                <span class="dots"></span>
                <span class="panel-tip-info">当天网站整体可用性良好，全国36个监测节点中有超过2/3的节点可正常访问，全天出现网站故障3 次，
                    共计时长123分钟，主要出现在新疆和台湾节点；网站首页访问效率为中等，用时123秒，有待进一步提高。
                </span>
            </div>
            <div class="panel-body">
                <img src="__PUBLIC__/image/MSSP/chart1.png" alt="" width="940"/>
                <img src="__PUBLIC__/image/MSSP/chart2.png" alt="" width="940"/>
            </div>
        </div>
        <!--故障信息-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">故障信息</h3>
            </div>
            <div class="alert alert-info alert-dismissible mt-20" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="fa fa-info-circle"></i>&nbsp;说明：全国32个节点,当有超过2/3的节点不可访问可访问延迟,即为<strong>网站故障</strong>
            </div>
            <div class="panel-tip">
                <span class="dots"></span>
                <span class="panel-tip-info">当天网站整体可用性良好，全国36个监测节点中有超过2/3的节点可正常访问，全天出现网站故障3 次，
                    共计时长123分钟，主要出现在新疆和台湾节点；网站首页访问效率为中等，用时123秒，有待进一步提高。
                </span>
            </div>
            <div class="panel-body">
                <div class="fault-chart">
                    <img src="__PUBLIC__/image/MSSP/chart3.png" alt="" width="940"/>
                </div>
                <table class="grid">
                    <thead>
                    <tr>
                        <th>故障类型</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>持续时长</th>
                        <th>故障统计</th>
                        <th>故障节点分布</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr>
                        <td>服务质量下降</td>
                        <td>12:00:00</td>
                        <td>12:02:00</td>
                        <td>2分36秒</td>
                        <td>正常响应节点: 7/26</td>
                        <td>
                            <span>【北京节点】状态码：403，响应时长：10秒</span><br/>
                            <span>【武汉节点】状态码：403，响应时长：10秒</span><br/>
                            <span>【昆明节点】状态码：403，响应时长：10秒</span><br/>
                            <span>【南昌节点】状态码：403，响应时长：10秒</span><br/>
                        </td>

                    </tr>
                    <tr>
                        <td>服务质量下降</td>
                        <td>12:00:00</td>
                        <td>12:02:00</td>
                        <td>2分36秒</td>
                        <td>正常响应节点: 7/26</td>
                        <td>
                            <span>【北京节点】状态码：403，响应时长：10秒</span><br/>
                            <span>【武汉节点】状态码：403，响应时长：10秒</span><br/>
                            <span>【昆明节点】状态码：403，响应时长：10秒</span><br/>
                            <span>【南昌节点】状态码：403，响应时长：10秒</span><br/>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>合计</td>
                        <td colspan="5">
                            <span>【服务质量下降】3次，共计3分钟26秒</span><br/>
                            <span>【无法访问】1次，共计21秒</span><br/>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>

        <!--域名解析和CDN命中分析-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">域名解析和CDN命中分析</h3>
            </div>
            <div class="alert alert-danger alert-dismissible mt-20" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="fa fa-info-circle"></i>  告警：解析IP为118.16.32.114（美国），疑为<strong>域名劫持</strong>
            </div>
            <div class="panel-tip">
                <span class="dots"></span>
                <span class="panel-tip-info">全国CDN节点共计6 个，其中北京CDN覆盖范围最广。</span>
            </div>
            <div class="panel-body">
                <div class="domain-chart clear" style="float: left; width: 520px;height: 454px;">
                    <img src="__PUBLIC__/image/MSSP/chart4.png" alt=""  width="520"/>
                </div>
                <div class="domain-table" style="float: right;">
                    <table class="grid" >
                        <thead>
                        <tr>
                            <th>CDN节点所在地</th>
                            <th>CDN节点IP</th>
                            <th>CDN节点覆盖范围</th>
                        </tr>

                        </thead>
                        <tbody style="height: 200px;overflow-y: auto;">
                        <tr>
                            <td rowspan="6">北京</td>
                            <td rowspan="6">118.180.24.29</td>
                            <td>辽宁</td>
                        </tr>
                        <tr>
                            <td>黑龙江</td>
                        </tr>
                        <tr>
                            <td>吉林</td>
                        </tr>
                        <tr>
                            <td>内蒙古</td>
                        </tr>
                        <tr>
                            <td>天津</td>
                        </tr>
                        <tr>
                            <td>北京</td>
                        </tr>
                        <tr>
                            <td rowspan="6">北京</td>
                            <td rowspan="6">118.180.24.29</td>
                            <td>辽宁</td>
                        </tr>
                        <tr>
                            <td>黑龙江</td>
                        </tr>
                        <tr>
                            <td>吉林</td>
                        </tr>
                        <tr>
                            <td>内蒙古</td>
                        </tr>
                        <tr>
                            <td>天津</td>
                        </tr>
                        <tr>
                            <td>北京</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

        <!--首页时长加载分析-->
        <div class="panel panel-default" >
            <div class="panel-heading">
                <h3 class="panel-title">首页时长加载分析</h3>
            </div>
            <div class="alert alert-danger alert-dismissible mt-20" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="fa fa-info-circle"></i>  告警：解析IP为118.16.32.114（美国），疑为<strong>域名劫持</strong>
            </div>

            <div class="panel-tip">
                <span class="dots"></span>
                <span class="panel-tip-info">首页文件共计32 个，大小合计23Mb，其中图片文件占比最多，合计大小16Mb 首页加载时长为123秒，其中DNS解析和建立服首页文件共计32 个，
                    大小合计23Mb，其中图片文件占比最多，合计大小16Mb 首页加载时长为123秒，其中DNS解析和建立服</span>
            </div>
            <div class="panel-body">
                <div class="domain-chart" style="float: left; width: 470px;">
                    <div class="panel-sub-title">加载时长分布</div>

                    <img src="__PUBLIC__/image/MSSP/chart5.png" alt="" width="460" />
                </div>
                <div class="domain-chart" style="float: right; width:470px;">
                    <div class="panel-sub-title">加载文件分析</div>

                    <img src="__PUBLIC__/image/MSSP/chart6.png" alt=""  width="460" />
                </div>
                <table class="grid" >
                    <thead>
                    <tr>
                        <th>类型</th>
                        <th>文件</th>
                        <th>字节</th>
                        <th>状态</th>
                        <th>耗时</th>
                    </tr>

                    </thead>
                    <tbody>

                    <tr>
                        <td>css</td>
                        <td>html</td>
                        <td>css</td>
                        <td>css</td>
                        <td>css</td>
                    </tr>
                    <tr>
                        <td>css</td>
                        <td>html</td>
                        <td>css</td>
                        <td>css</td>
                        <td>css</td>
                    </tr>
                    <tr>
                        <td>css</td>
                        <td>html</td>
                        <td>css</td>
                        <td>css</td>
                        <td>css</td>
                    </tr>

                    </tbody>
                </table>
                <div class="grid-page">
                    <div class="page">
                        <div class="page-per">
                            <span>每页</span>
                            <select name="" >
                                <option value="">10</option>
                                <option value="">20</option>
                                <option value="">50</option>
                            </select>
                            <i class="sel"></i>
                            <span>条</span>
                        </div>
                        <div class="page-total">
                            <input type="text"/>
                            <span>/<span>2</span>页 共<span>19</span>条</span>
                        </div>
                        <ul class="page-num">
                            <li><a class="first" href=""></a></li>
                            <li><a class="prev" href=""></a></li>
                            <li><a class="next" href=""></a></li>
                            <li><a class="last" href=""></a></li>
                        </ul>
                    </div>


                </div>


            </div>
        </div>

        <!--网站更新频率分析-->
        <div class="panel panel-default" >
            <div class="panel-heading">
                <h3 class="panel-title">网站更新频率分析</h3>
            </div>
            <div class="panel-tip">
                <span class="dots"></span>
                <span class="panel-tip-info">网站近期没有更新，最后更新日期为 2015-11-03</span>
            </div>
            <div class="panel-body">
                <div class="chart clear" style="width: 940px;">
                    <img src="__PUBLIC__/image/MSSP/chart7.png" alt=""  width=""/>
                </div>
            </div>
        </div>

        <!--风暴中心专家服务-->
        <div class="panel panel-default" >
            <div class="panel-heading">
                <h3 class="panel-title">风暴中心专家服务</h3>
            </div>
            <div class="panel-tip">
                <span class="dots"></span>
                <span class="panel-tip-info">网站近期没有更新，最后更新日期为 2015-11-03</span            >
            </div>
            <div class="panel-body">
                <table class="grid" >
                    <thead>
                    <tr>
                        <th>处理时间</th>
                        <th>故障类型</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>持续时长</th>
                        <th>处理人员</th>
                        <th>处理描述</th>
                    </tr>

                    </thead>
                    <tbody style="height: 200px;overflow-y: auto;">

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="grid-page">
                    <div class="page">
                        <div class="page-per">
                            <span>每页</span>
                            <select name="" >
                                <option value="">10</option>
                                <option value="">20</option>
                                <option value="">50</option>
                            </select>
                            <i class="sel"></i>
                            <span>条</span>
                        </div>
                        <div class="page-total">
                            <input type="text"/>
                            <span>/<span>2</span>页 共<span>19</span>条</span>
                        </div>
                        <ul class="page-num">
                            <li><a class="first" href=""></a></li>
                            <li><a class="prev" href=""></a></li>
                            <li><a class="next" href=""></a></li>
                            <li><a class="last" href=""></a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
<include file="./App/MSSP/View/footer.html" />