<include file="./App/Self/View/header.html" />


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 margin-top-20">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i> <a href="__ROOT__/index.php/Self/SelfHome/index">首页</a> </li>
                    <li><a href="__ROOT__/index.php/Self/Task/personal">我的任务</a></li>
                </ol>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-comments"></i>任务列表</div>
                    </div>
                    <div class="portlet-body light-grey">
                        <div class="form-search pull-left" action="#">
                            <a href="__ROOT__/index.php/Self/Task/apply" class="btn blue"><!-- <i class="fa fa-plus"></i> -->
                                任务申请
                            </a>
                            <a  class="btn red bth-batch-delete">
                                撤销任务
                            </a>
                        </div>

                        <div class="form-search pull-right" action="#">
                            <select class="m-wrap small" data-placeholder="Choose a Category" id="audit_state_id" name="eventType" tabindex="1">
                                <option value="">请选择</option>
                                <option value="0">未审核</option>
                                <option value="1">审核通过</option>
                                <option value="-1">审核失败</option>
                                <option value="-2">已撤销</option>
                            </select>
                            <div class="input-append">
                                <input class="m-wrap" type="text" placeholder="申请原因" style="width: 205px;height: 35px;">
                                <button class="btn green btn-search" type="button">查询</button>
                            </div>
                        </div>
                        <br/><br/>
                        <table id="taskTable" class="table table-striped table-bordered table-hover table-condensed datatable" >
                            <thead>
                            <tr class="well">
                                <th><input type="checkbox" ></th>
                                <th>申请时间</th>
                                <th>网站域名</th>
                                <th>申请原因</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<include file="./App/Self/View/footer.html" />
<script type="text/javascript" src="__PUBLIC__/script/Self/personal_task.js"></script>


