
</body>
<footer>

    <script type="text/javascript" src="__PUBLIC__/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/parsley/parsley.js"></script>
    <script  type="text/javascript" src="__PUBLIC__/js/dialog/bootstrap-dialog.min.js"></script>

    <script type="text/javascript" src="__PUBLIC__/script/main.js"></script>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap/js/html5shiv.min.js"></script>
    <script type="text/javascript"  src="__PUBLIC__/js/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <in name="echarts" value="$plugins">
        <script type="text/javascript" src="__PUBLIC__/js/echarts/dist/echarts.js"></script>
    </in>
</footer>
</html>
