<title>{$title}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="__PUBLIC__/asset/image/fav.png" type="image/x-icon">
<link rel="shortcut icon" href="__PUBLIC__/asset/image/fav.png" type="image/x-icon">

<link href="__PUBLIC__/asset/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/asset/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/asset/js/scrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/asset/css/Mobile/common.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/asset/js/progress/nprogress.css" rel="stylesheet" type="text/css">