<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>MSSP自助平台</title>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <![endif]-->
    <!-- css -->
    <link href="__PUBLIC__/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/js/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css" />

    <link href="__PUBLIC__/js/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css">

    <link href="__PUBLIC__/css/common.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/MSSP/mssp.css" rel="stylesheet" type="text/css" />

    <link href="__PUBLIC__/js/metronic-bootstrap/css/style-metro.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/js/metronic-bootstrap/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/js/metronic-bootstrap/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <!--<link href="__PUBLIC__/js/metronic-bootstrap/css/default.css" rel="stylesheet" type="text/css" />-->
    <link href="__PUBLIC__/js/metronic-bootstrap/css/uniform.default.css" rel="stylesheet" type="text/css" />

    <link href="__PUBLIC__/css/ionicons.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="__PUBLIC__/js/jquery/jquery-1.8.3.min.js"></script>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap/js/html5shiv.min.js"></script>
    <script type="text/javascript"  src="__PUBLIC__/js/bootstrap/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!--- 可用插件定义  -->
<assign name="echarts" value="echarts" />
<assign name="datatable" value="datatable" />
<assign name="gritter" value="gritter"/>

<input id="publicPath" type="hidden" value="__PUBLIC__">
<input id="echartPath" type="hidden" value="__PUBLIC__/js/echarts/dist">
<input id="rootPath" type="hidden" value="__ROOT__/index.php">


<header class="header">
    <div class="h-nav">
        <a class="logo" href="javascript:void(0)" >MSSP自助平台</a>
        <ul class="nav-bar">
            <foreach name="moudels" item="pMod">
                <if condition="$pMod['m_type'] eq 8">
                    <if condition="$pMod['children']">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"  pathInfo="{$pMod.page_action}">
                                <i class="fa navIcons"></i>
                                <span class="title">{$pMod.title}</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <foreach name="pMod['children']" item="cMod" >
                                    <li class='child'> <a  href="__ROOT__/index.php/{$cMod.page_action}" pathInfo="{$cMod.page_action}">{$cMod.title}</a> </li>
                                </foreach>
                            </ul>
                        </li>
                        <else/>
                        <li class="parent">
                            <a href="__ROOT__/index.php/{$pMod.page_action}"  pathInfo="{$pMod.page_action}">
                                <i class="fa navIcons"></i>
                                <span class="title">{$pMod.title}</span>
                            </a>
                        </li>
                    </if>
                </if>

            </foreach>
        </ul>
        <ul class="setting">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i>
                    <span class="username">{$user.name}</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="__ROOT__/index.php/Login/viewModels.html">
                            <i class="fa fa-th-large"></i>
                            主菜单
                        </a>
                    </li>
                    <li>
                        <a href="__ROOT__/index.php/MSSP/Set/index">
                            <i class="fa fa-cog"></i>
                            个人设置
                        </a>
                    </li>
                    <li>
                        <a href="__ROOT__/index.php/Home/Login/logout/msspLogout/1">
                            <i class="fa fa-sign-out"></i>
                            退出系统
                        </a>
                    </li>
                </ul>
            </li>

            <!--<li><a href=""><i class="fa fa-power-off"></i></a></li>-->
        </ul>
    </div>
</header>
<style>
    div.header{display: none}
</style>

<include file="./App/ScreenCenter/View/quality-survey.html" />

<footer class="footer clear">
    <div class="f-inner">
        <div class="footer-title">XXXX技术有限公司 风暴中心</div>
        <div class="footer-info">
            <div class="contact">
                <p><i class="telephone"></i>7*24值班电话：400-694-0110 0571-2813576 13148322519</p>
                <p><i class="mobile"></i>紧急联系电话：18605819908 1518013560</p>
                <p><i class="email"></i>服务电子邮箱：<a href="Mailto:securitycenter@dbappsecurity.com.cn" target="_self">securitycenter@dbappsecurity.com.cn</a></p>
            </div>
            <div class="code">
                <img src="__PUBLIC__/image/MSSP/weixin.jpg" alt=""/>
                <div class="code-detail">
                    <p>关注XXXX微信</p>
                    <p>了解XXX最新资讯</p>
                    <a href="http://www.dbappsecurity.com.cn" target="_blank">http://www.dbappsecurity.com.cn</a>
                </div>
            </div>
        </div>

    </div>
</footer>

<script>
    $(function(){
        /*多选框*/
        $('div.check-box div').click(function(){
            $(this).toggleClass('checked');
        })
        /*开关按钮*/
        $('.switch div').filter(function(){
            $(this).hasClass('on')?$(this).children('span.text').text('开启'):$(this).children('span.text').text('关闭');
        });
        $('.switch div').click(function(){
            $(this).toggleClass('on');
            $(this).hasClass('on')?$(this).children('span.text').text('开启'):$(this).children('span.text').text('关闭');
        })
        $("#vavigation-wraper").remove();
        $(".dropdown-menu li a").css("color","#000000");
    })
</script>

</body>

</html>