<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <include file="./App/Common/View/header.html" />
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side maxture" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i></div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element text-center">
                            <span><img alt="image" class="img-circle" src="__PUBLIC__/asset/img/user.jpg" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs"><strong class="font-bold">{$user.username}</strong></span>
                                    <span class="text-muted text-xs block">{$user.name}<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li>
                                    <!--<a class="" href="__ROOT__/index.php/Admin/Index/index" >主菜单</a>-->
                                    <a class="J_menuItem" href="__ROOT__/index.php/Admin/Setting/index" >个人设置</a>
                                </li>

                                <li class="divider"></li>
                                <li><a href="__ROOT__/index.php/Admin/Login/logout" tppabs="__ROOT__/index.php/Admin/Login/logout">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">移动综分系统</div>
                    </li>
                    <li>
                        <a class="J_menuItem" href="__ROOT__/index.php/{$pMenu.name}" data-index="8">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">首页</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void (0);">
                            <i class="fa fa-cogs"></i>
                            <span class="nav-label">系统管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse " aria-expanded="true" style="">
                            <li>
                                <a class="J_menuItem" href="__ROOT__/index.php/{$cMenu.name}" data-index="56"><i class="fa fa-user"></i>用户管理</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="__ROOT__/index.php/{$cMenu.name}" data-index="56"><i class="fa fa-users"></i>角色管理</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="__ROOT__/index.php/{$cMenu.name}" data-index="56"><i class="fa fa-menu"></i>菜单管理</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom maxture">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <!--<a class="navbar-return-prev minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-mail-reply"></i> </a>-->
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <div role="search" class="navbar-form-custom" method="post" action="#">
                            <div class="form-group">
                                <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" id="top-search">
                            </div>
                        </div>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">

                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell"></i> <span class="label label-primary">0</span>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="javascript:void(0);" tppabs="">
                                        <div>
                                            <i class="fa fa-envelope fa-fw"></i> 您有0条未读消息
                                            <span class="pull-right text-muted small">
                                                <!--4分钟前-->
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <!--<li class="divider"></li>-->

                            </ul>
                        </li>
                        <!--<li class="hidden-xs">-->
                            <!--<a href="#"  class="J_menuItem" data-index="0"><i class="fa fa-cart-arrow-down"></i>主题</a>-->
                        <!--</li>-->
                        <li class="dropdown hidden-xs">
                            <a class="right-sidebar-toggle J_menuItem" aria-expanded="false"  href="__ROOT__/index.php/Home/WorkSpace/index">
                                <i class="fa fa-tasks"></i> 工作台
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row content-tabs maxture">
                <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="__ROOT__/index.php/{$user.firstAction}">{$user.firstActionName}</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive"><a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="__ROOT__/index.php/Admin/Login/logout"  class="roll-nav roll-right J_tabExit"><i class="fa fa-sign-out"></i> 退出</a>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="__ROOT__/index.php/{$user.firstAction}" data-id="__ROOT__/index.php/{$user.firstAction}" frameborder="0"  seamless></iframe>
            </div>
            <div class="footer maxture">
                <div class="pull-right">&copy; 2008-2016 <a href="http://www.dbappsecurity.com.cn/"  target="_blank">XXXX技术有限公司</a>
                </div>
            </div>
        </div>
    </div>


    <include file="./App/Common/View/footer.html" />
    <script>
         var href=location.href;
         if(href.indexOf("Home/Index/index")==-1){
             console.info(href);
             location.href=__WEBROOT__+"/Home/Index/index";
         }
//         var p='<a href="javascript:;" class="active J_menuTab" data-id="first"> 首页<i class="fa fa-times-circle"></i></a>';
//         $(".J_menuTabs .page-tabs-content").append(p);
//        $(".J_menuItem").bind("click", function(){
//            if($(this).attr("target") == "_blank"){
//                window.open($(this).attr("href"));
//                return false;
//            }else{
//                return true;
//            }
//        });
    </script>
</body>

</html>
