<include file="./App/Security/View/header.html" />

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 margin-top-20">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i> <a href="__ROOT__/index.php/Security">首页</a> </li>
                    <li><a href="#">通报用户</a></li>
                </ol>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-comments"></i>通报用户</div>
                    </div>
                    <div class="portlet-body light-grey">
                        <div class="inline">
                            <a  class="btn blue btn-add-role"><i class="icon-plus"></i>
                                新增
                            </a>
                            <a  class="btn red bth-batch-delete"><i class="icon-trash"></i>
                                删除
                            </a>
                        </div>
                        <div class="form-search pull-right" action="#">
                            <div class="input-append">
                                <input class="m-wrap" type="text" placeholder="通报用户名" style="width: 205px;height: 35px;">
                                <button class="btn green btn-search" type="button">查询</button>
                            </div>
                        </div>
                        <br/><br/>
                        <table id="roleTable" class="table table-striped table-bordered table-hover table-condensed datatable" >
                            <thead>
                            <tr class="well">
                                <th><input type="checkbox" ></th>
                                <th>用户</th>
                                <th>单位</th>
                                <th>类型</th>
                                <th>手机</th>
                                <th>邮箱</th>
                                <th>密信</th>
                                <!--<th>微信</th>-->
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>






<script type="text/javascript" src="__PUBLIC__/script/Security/notifyuser.js"></script>


<include file="./App/Security/View/footer.html" />



