<!DOCTYPE html>
<html>
<head>
    <include  file="./App/Mobile/View/common/header.html"/>
    <link rel="stylesheet" href="__PUBLIC__/asset/css/Mobile/page/report.css"/>
</head>
<body>

<div class="list-header">
    <a class="active" href="#service" data-toggle="tab">服务质量</a>
    <a class="" href="#defend"  data-toggle="tab">安全防护</a>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="service">
        <div class="row">
            <div class="col-xs-6 no-padding">
                <div class="thumbnail text-center mb5 mt10">
                    <div class="detail mb2 text-center">
                        <div class="circle font-num">0</div>
                        <span class="">分钟</span>
                    </div>
                    <div class="title">服务质量</div>
                    <div class="value j-siteVail"></div>
                </div>
            </div>
            <div class="col-xs-6 no-padding">
                <div class="thumbnail text-center mb5 mt10">
                    <div class="detail mb2 text-center">
                        <div class="circle font-num">0</div>
                        <span class="">分钟</span>
                    </div>
                    <div class="title">服务质量</div>
                    <div class="value j-siteVail"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="tab-pane" id="defend">安全防护</div>
</div>




<include  file="./App/Mobile/View/common/footer.html"/>
<script src="__PUBLIC__/script/Mobile/report.js"></script>
</body>
</html>

