<include file="./App/Admin/View/header.html" />

<link href="__PUBLIC__/js/zTree_v3/css/metroStyle/metroStyle.css" rel="stylesheet" type="text/css" />
<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row">
            <div class="col-md-12 margin-top-20">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i> <a href="__ROOT__/index.php/Admin/User/index">系统管理</a> </li>
                    <li><a href="javascript:void(0)">权限查看</a></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet box light-grey">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-comment"></i>权限查看</div>
                    </div>
                    <div class="portlet-body">
                        <div class="row" >
                            <div class="col-md-6">
                                <h3>模块权限</h3>
                                <hr>
                                <foreach name='groups' item='group'>
                                    <b>{$group.title}</b><br>
                                    <foreach name="group['rules']" item="rule">
                                        &nbsp;&nbsp;&nbsp;&nbsp;{$rule.title}&nbsp;&nbsp;{$rule.name}<br>

                                    </foreach>
                                    <foreach name="group['children']" item="cGroup">
                                        &nbsp;&nbsp;&nbsp;&nbsp; <b>{$cGroup.title}</b><br>

                                        <foreach name="cGroup['rules']" item="rule">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$rule.title}&nbsp;&nbsp;{$rule.name}<br>

                                        </foreach>
                                    </foreach>
                                    <hr>


                                </foreach>
                            </div>
                            <div class="col-md-6">
                                <h3>操作权限</h3>
                                <hr>
                                <foreach name='accessGroups' item='group'>
                                    <b>{$group.title}</b><br>
                                    <foreach name="group['rules']" item="rule">
                                        &nbsp;&nbsp;&nbsp;&nbsp;{$rule.title}&nbsp;&nbsp;{$rule.name}<br>

                                    </foreach>
                                    <foreach name="group['children']" item="cGroup">
                                        &nbsp;&nbsp;&nbsp;&nbsp; <b>{$cGroup.title}</b><br>

                                        <foreach name="cGroup['rules']" item="rule">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$rule.title}&nbsp;&nbsp;{$rule.name}<br>

                                        </foreach>
                                    </foreach>
                                    <hr>


                                </foreach>

                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>

</div>


<include file="./App/Admin/View/footer.html" />