<include file="./App/Common/View/header.html" />
<link href="__PUBLIC__/asset/css/base/contract.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/asset/js/select2/select2.css" rel="stylesheet" type="text/css">


<input type="hidden" id="clickWhichCountId" value="allCount">
<div class="main fixed">
    <div class="m-inner">

        <div class="widget">
            <div class="widget-heading">
                <div class="widget-title">合同管理</div>
            </div>
            <div class="widget-content cloudwaf-summary">
                <div class="safe-item">
                    <img src="__PUBLIC__/asset/image/safe4.png" alt="所有合同数"/>
                    <div class="i-info">
                        <div class="i-info-tit">所有合同数</div>
                        <div class="allCount i-info-num c-red font-num"></div>
                    </div>
                </div>
                <div class="safe-item">
                    <img src="__PUBLIC__/asset/image/safe1.png" alt=""/>
                    <div class="i-info">
                        <div class="i-info-tit">有效合同数</div>
                        <div class="i-info-num"><span class="validCount c-blue font-num"></span></div>
                    </div>
                </div>
                <div class="safe-item">
                    <img src="__PUBLIC__/asset/image/safe2.png" alt="临期合同数"/>
                    <div class="i-info">
                        <div class="i-info-tit">临期合同数</div>
                        <div class="adventCount i-info-num c-red font-num"></div>
                    </div>
                </div>
                <div class="safe-item">
                    <img src="__PUBLIC__/asset/image/safe3.png" alt="逾期合同数"/>
                    <div class="i-info">
                        <div class="i-info-tit">逾期合同数</div>
                        <div class="overdueCount i-info-num c-orange font-num">{$highVulsCount}</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="widget">
            <div class="widget-heading">
                <div class="widget-title">合同列表</div>
            </div>

            <table class="u-grid" id="contract_site_table" width="100%">
                <thead>
                <tr>
                    <th><input type="checkbox" id="checkAll_id"/></th>
                    <th>合同编号</th>
                    <th>合同名称</th>
                    <th>客户名称</th>
                    <th>销售员</th>
                    <th>项目经理</th>
                    <th>开始日期</th>
                    <th>到期日期</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>

</div>

<div class='contract-dialog-content' style="display: none;">
    <form class="form-horizontal" id="contractForm" action="#" data-parsley-validate>
        <input id="_id_id" type="hidden">
        <div class="form-group">
            <label  class="col-sm-2 control-label"><span style="color: red">*</span>合同编号</label>
            <div class="col-sm-10">
                <input id="no_id" type="text" class="form-control"  required data-parsley-length="[2, 40]" >
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label"><span style="color: red">*</span>合同名称</label>
            <div class="col-sm-10">
                <input id="name_id" type="text" class="form-control" name="name" required data-parsley-length="[2, 100]" >
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label"><span style="color: red">*</span>客户名称</label>
            <div class="col-sm-7">
                <select style="width: 100%;" class="select2" name="client" id="client_id">

                </select>
            </div>
            <div class="col-sm-3">
                <a  href="__ROOT__/index.php/Base/Client/addUpdatePage/needBack/1" class="btn-add u-btn u-btn-success" ><i class="fa fa-plus"></i> 新增客户</a>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label"><span style="color: red">*</span>合同期限</label>
            <div class="col-sm-4">
                <input style='display: inline-block;' type="text" id="start_date_id"
                       name="start_date" class="Wdate form-control m-wrap"
                       onFocus="var maxDate=$('#end_date_id').val(); WdatePicker({maxDate:maxDate,dateFmt:'yyyy-MM-dd'})"/>
            </div>
            <div class="col-sm-2" style="text-align: center;">
                <span>至</span>
            </div>
            <div class="col-sm-4">
                <input style='display: inline-block;' type="text" id="end_date_id"
                       name="end_date" class="Wdate form-control m-wrap"
                       onFocus="var minDate=$('#start_date_id').val(); WdatePicker({minDate:minDate,dateFmt:'yyyy-MM-dd'})"/>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label"><span style="color: red">*</span>项目经理</label>
            <div class="col-sm-10">
                <select style="width: 100%;" class="select2" id="project_manager_id">

                </select>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label"><span style="color: red">*</span>销售人员</label>
            <div class="col-sm-7">
                <select style="width: 100%;" class="select2" id="seller_id">

                </select>
            </div>
            <div class="col-sm-3">
                <a href="__ROOT__/index.php/Base/Seller/addUpdatePage/needBack/1" class="btn-add u-btn u-btn-success" ><i class="fa fa-plus"></i> 新增销售</a>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label"><span style="color: red">*</span>合同类型</label>
            <div class="col-sm-10">
                <input type="radio" name="type" value="1" checked>正式合同
                <input type="radio" name="type" value="2">试用合同
            </div>
        </div>
    </form>
</div>




<include file="./App/Common/View/footer.html" />
<script src="__PUBLIC__/asset/js/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/script/Base/contract_list.js"  charset="utf-8"></script>
<script type="text/javascript" src="__PUBLIC__/asset/js/select2/select2.min.js"></script>
