
<input id="autorun" type="hidden" value="{:I('autorun')}">
<input id="scoller" type="hidden" value="{:I('scoller')}">
<input id="rightclick" type="hidden" value="{:I('rightclick')}">
<input id="mousehidden" type="hidden" value="{:I('mousehidden')}">
<input id="mousepen" type="hidden" value="{:I('mousepen')}">
<!--<div class="handle">
    <section>
        <a href="index" class="nav-item index">
            <img src="__PUBLIC__/image/handle/node.jpg" alt=""/>
        </a>
        <a href="attackEvent" class="nav-item attackEvent">
            <img src="__PUBLIC__/image/handle/attack.jpg" alt=""/>
        </a>
        <a href="securityEvent" class="nav-item securityEvent">
            <img src="__PUBLIC__/image/handle/event.jpg" alt=""/>
        </a>
        <a href="siteAvail" class="nav-item siteAvail">
            <img src="__PUBLIC__/image/handle/site.jpg" alt=""/>
        </a>
    </section>
</div>
<a class="aHandle" href="javascript:;"></a>-->
<a class="autoPlay" href="javascript:;">
    <i class="fa fa-play"></i>
</a>
<script type="text/javascript" src="__PUBLIC__/js/common/autorun.js"></script>



