<!DOCTYPE html>
<html>
<head>
    <title>网站安全搜索平台</title>
    <meta charset="utf-8">
    <link href="__PUBLIC__/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/js/parsley/parsley.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/js/dialog/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/Home/screen.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/animation.css" rel="stylesheet" type="text/css" />

    <link href="__PUBLIC__/js/scrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery/jquery-1.8.3.min.js"></script>

    <!--如果是IE,使用IE9 的内核来渲染-->
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <![endif]-->

    <link rel="icon" href="__PUBLIC__/image/fav.png" type="image/x-icon">
    <link rel="shortcut icon" href="__PUBLIC__/image/fav.png" type="image/x-icon">

</head>
<body class="bg">
<!-- 所有需要用到的插件在这里定义 -->
<assign name="echarts" value="echarts" />

<input id="publicPath" type="hidden" value="__PUBLIC__">
<input id="echartPath" type="hidden" value="__PUBLIC__/js/echarts/dist">
<input id="rootPath" type="hidden" value="__ROOT__/index.php">
<include file="./App/ScreenCenter/View/common/navigation.html" />
<include file="./App/Admin/View/reset-pwd.html" />







