<include file="./App/Service/View/header.html" />
<style>
    .ft-dd{
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        font-weight: bold;
        color:#9A9A9A;
        text-align: right;
    }
    .ft-s{
        font-size: 12px;
        height: 14px;
        line-height:14px;
        font-weight: normal;
        color: #343434;
        padding-left: 30px;
        vertical-align: middle;
        text-align: left;
    }
</style>
<div class="page-content">
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12 margin-top-20">
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i> <a href="__ROOT__/index.php/Service/index/">首页</a> </li>
            <li>网站监测</li>
            <li><a href="__ROOT__/index.php/Service/WebSite/siteManage">站点故障</a> </li>
            <li><a href="__ROOT__/index.php/Service/WebSite/faultView">故障查看</a> </li>
        </ol>
    </div>
</div>

<!--站点信息-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption"><i class="icon-comments"></i>网站信息</div>
            </div>
            <div class="portlet-body">

                <div class="row">
                    <div class="col-md-6">
                        <table style="margin: 0 auto;">
                            <tbody>
                            <tr>
                                <td class="ft-dd">网站标题</td>
                                <td class="ft-s">江西省财政厅</td>
                            </tr>
                            <tr>
                                <td class="ft-dd">IP地理</td>
                                <td class="ft-s">117.23.65.45</td>
                            </tr>
                            <tr>
                                <td class="ft-dd">ISP</td>
                                <td class="ft-s">杭州阿里巴巴</td>
                            </tr>
                            <tr>
                                <td class="ft-dd">注册邮箱</td>
                                <td class="ft-s">master@webmail.cn</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table style="margin: 0 auto;">
                            <tbody>
                            <tr>
                                <td class="ft-dd">网站域名</td>
                                <td class="ft-s">http://www.jxf.gov.cn</td>
                            </tr>
                            <tr>
                                <td class="ft-dd">地理位置</td>
                                <td class="ft-s">江西省南昌省</td>
                            </tr>
                            <tr>
                                <td class="ft-dd">域名到期日期</td>
                                <td class="ft-s">2017-01-01</td>
                            </tr>
                            <tr>
                                <td class="ft-dd">注册人员</td>
                                <td class="ft-s">张三</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!--联系方式-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption"><i class="icon-comments"></i>联系方式</div>
            </div>
            <div class="portlet-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="portlet" style="background-color: #fafafa; border: 1px solid #f2f2f2; padding: 10px;">
                            <div class="portlet-title">
                                <div class="caption">张三</div>
                            </div>
                            <div class="portlet-body">
                                <table style="margin: 0 auto;">
                                    <tbody>
                                    <tr>
                                        <td class="ft-dd">电话</td>
                                        <td class="ft-s">2015-01-01</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">邮箱</td>
                                        <td class="ft-s">2015-01-01</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">手机</td>
                                        <td class="ft-s">2017-01-01</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">密信</td>
                                        <td class="ft-s">2017-01-01</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">微信</td>
                                        <td class="ft-s">2017-01-01</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portlet" style="background-color: #fafafa; border: 1px solid #f2f2f2; padding: 10px;">
                            <div class="portlet-title">
                                <div class="caption">张三</div>
                            </div>
                            <div class="portlet-body">
                                <table style="margin: 0 auto;">
                                    <tbody>
                                    <tr>
                                        <td class="ft-dd">电话</td>
                                        <td class="ft-s">2015-01-01</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">邮箱</td>
                                        <td class="ft-s">2015-01-01</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">手机</td>
                                        <td class="ft-s">2017-01-01</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">密信</td>
                                        <td class="ft-s">2017-01-01</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">微信</td>
                                        <td class="ft-s">2017-01-01</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
<!--故障信息-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption"><i class="icon-comments"></i>故障信息</div>
            </div>
            <div class="portlet-body">

                <div class="row">
                    <div class="col-md-6">
                        <table style="margin: 0 auto;">
                            <tbody>
                            <tr>
                                <td class="ft-dd">发生时间</td>
                                <td class="ft-s">2015-07-01 12:12:12</td>
                            </tr>
                            <tr>
                                <td class="ft-dd">持续时长</td>
                                <td class="ft-s">3 分钟</td>
                            </tr>
                            <tr>
                                <td class="ft-dd">告警状态</td>
                                <td class="ft-s"><span class="label label-success">已告警</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table style="margin: 0 auto;">
                            <tbody>
                            <tr>
                                <td class="ft-dd">故障类型</td>
                                <td class="ft-s"> 网站无法访问</td>
                            </tr>
                            <tr>
                                <td class="ft-dd">告警节点</td>
                                <td class="ft-s">杭州节点</td>
                            </tr>
                            <tr>
                                <td class="ft-dd">告警时间</td>
                                <td class="ft-s">2015-07-01 12:12:15</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

<!--告警记录-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption"><i class="icon-comments"></i>告警记录</div>
            </div>
            <div class="portlet-body">
                <div class="row margin-bottom-15">
                    <div class="col-md-12">
                        <form action="#" class="form-search pull-right">
                            <div class="input-group" style="display: inline-table;vertical-align: top; margin-left: 10px;">
                                <input class="m-wrap medium" type="text">
                                <button class="btn green btn-search" type="button">查询</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover dataTable" >
                            <thead class="bg-lightgrey">
                            <tr role="row">
                                <th>告警时间</th>
                                <th>告警方式</th>
                                <th>接收者</th>
                                <th>告警内容</th>
                                <th>响应状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>2015-06-01 12：00：00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><span class="label label-success">已读</span></td>

                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="row no-margin">
                    <ul class="pagination pull-right">
                        <li><a href="#">上一页</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">下一页</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>

</div>
</div>
<assign name='plugins' value='echarts'/>
<include file="./App/Service/View/footer.html" />