<include file="./App/Service/View/header.html" />
<style>
    .ft-dd{
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        font-weight: bold;
        color:#9A9A9A;
        text-align: right;
    }
    .ft-s{
        font-size: 12px;
        height: 14px;
        line-height:14px;
        font-weight: normal;
        color: #343434;
        padding-left: 30px;
        vertical-align: middle;
        text-align: left;
    }
</style>
<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row">
            <div class="col-md-12 margin-top-20">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i> <a href="__ROOT__/index.php/Service/index/">首页</a> </li>
                    <li><a href="javascript:;">网站监测</a> </li>
                    <li><a href="__ROOT__/index.php/Service/WebSite/siteManage">站点管理</a> </li>
                    <li><a href="__ROOT__/index.php/Service/WebSite/siteView">站点查看</a> </li>
                </ol>
            </div>
        </div>

        <!--站点信息-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-comments"></i>站点信息</div>
                    </div>
                    <div class="portlet-body">

                        <div class="row">
                            <div class="col-md-6">
                                <table style="margin: 0 auto;">
                                    <tbody>
                                    <tr>
                                        <td class="ft-dd">网站标题</td>
                                        <td class="ft-s">江西省财政厅</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">IP地理</td>
                                        <td class="ft-s">117.23.65.45</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">ISP</td>
                                        <td class="ft-s">杭州阿里巴巴</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">注册邮箱</td>
                                        <td class="ft-s">master@webmail.cn</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table style="margin: 0 auto;">
                                    <tbody>
                                    <tr>
                                        <td class="ft-dd">网站域名</td>
                                        <td class="ft-s">http://www.jxf.gov.cn</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">地理位置</td>
                                        <td class="ft-s">江西省南昌省</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">域名到期日期</td>
                                        <td class="ft-s">2017-01-01</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">注册人员</td>
                                        <td class="ft-s">张三</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!--合同信息-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-comments"></i>合同信息</div>
                    </div>
                    <div class="portlet-body">

                        <div class="row">
                            <div class="col-md-6">
                                <table style="margin: 0 auto;">
                                    <tbody>
                                    <tr>
                                        <td class="ft-dd">客户单位</td>
                                        <td class="ft-s">江西省财政厅</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">合同编号</td>
                                        <td class="ft-s">16-06-0001</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">开始服务日期</td>
                                        <td class="ft-s">2016-01-01</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table style="margin: 0 auto;">
                                    <tbody>
                                    <tr>
                                        <td class="ft-dd">合同名称</td>
                                        <td class="ft-s"> 财政厅网站检测合同</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">签约日期</td>
                                        <td class="ft-s">2015-01-01</td>
                                    </tr>
                                    <tr>
                                        <td class="ft-dd">结束服务日期</td>
                                        <td class="ft-s">2017-01-01</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <!--联系方式-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-comments"></i>联系方式</div>
                    </div>
                    <div class="portlet-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="portlet" style="background-color: #fafafa; border: 1px solid #f2f2f2; padding: 10px;">
                                    <div class="portlet-title">
                                        <div class="caption">张三</div>
                                    </div>
                                    <div class="portlet-body">
                                        <table style="margin: 0 auto;">
                                            <tbody>
                                            <tr>
                                                <td class="ft-dd">电话</td>
                                                <td class="ft-s">2015-01-01</td>
                                            </tr>
                                            <tr>
                                                <td class="ft-dd">邮箱</td>
                                                <td class="ft-s">2015-01-01</td>
                                            </tr>
                                            <tr>
                                                <td class="ft-dd">手机</td>
                                                <td class="ft-s">2017-01-01</td>
                                            </tr>
                                            <tr>
                                                <td class="ft-dd">密信</td>
                                                <td class="ft-s">2017-01-01</td>
                                            </tr>
                                            <tr>
                                                <td class="ft-dd">微信</td>
                                                <td class="ft-s">2017-01-01</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="portlet" style="background-color: #fafafa; border: 1px solid #f2f2f2; padding: 10px;">
                                    <div class="portlet-title">
                                        <div class="caption">张三</div>
                                    </div>
                                    <div class="portlet-body">
                                        <table style="margin: 0 auto;">
                                            <tbody>
                                            <tr>
                                                <td class="ft-dd">电话</td>
                                                <td class="ft-s">2015-01-01</td>
                                            </tr>
                                            <tr>
                                                <td class="ft-dd">邮箱</td>
                                                <td class="ft-s">2015-01-01</td>
                                            </tr>
                                            <tr>
                                                <td class="ft-dd">手机</td>
                                                <td class="ft-s">2017-01-01</td>
                                            </tr>
                                            <tr>
                                                <td class="ft-dd">密信</td>
                                                <td class="ft-s">2017-01-01</td>
                                            </tr>
                                            <tr>
                                                <td class="ft-dd">微信</td>
                                                <td class="ft-s">2017-01-01</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <!--站点故障-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-comments"></i>站点故障</div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tabbable tabbable-custom">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab_1" data-toggle="tab">故障信息</a></li>
                                        <li><a href="#tab_2" data-toggle="tab">告警记录</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_1">
                                            <div class="inline">
                                                <a class="btn"><i class="fa fa-eye-slash"></i>
                                                    忽略
                                                </a>
                                                <a class="btn"><i class="fa fa-bell"></i>
                                                    告警
                                                </a>

                                            </div>
                                            <table class="table table-striped table-bordered table-hover dataTable" >
                                                <thead class="bg-lightgrey">
                                                <tr role="row">
                                                    <th><input type="checkbox" class="group-checkable"></th>
                                                    <th>监测时间</th>
                                                    <th>检测站点</th>
                                                    <th> 故障类型</th>
                                                    <th>故障描述</th>
                                                    <th>持续时长</th>
                                                    <th>处理状态</th>
                                                    <th>操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th><input type="checkbox" class="group-checkable"></th>
                                                    <td>2015-06-01 12：00：00</td>
                                                    <td>http://www.jxf.gov.cn</td>
                                                    <td></td>
                                                    <td>404</td>
                                                    <td>5分钟</td>
                                                    <td><span class="label label-warning">未处理</span></td>
                                                    <td>
                                                        <a href="#" class="btn blue-stripe mini">忽略</a>
                                                        <a href="#" class="btn red-stripe mini">告警</a>
                                                    </td>
                                                </tr>
                                                </tbody>

                                            </table>
                                            <div class="row no-margin">
                                                <ul class="pagination pull-right">
                                                    <li><a href="#">上一页</a></li>
                                                    <li><a href="#">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li class="active"><a href="#">3</a></li>
                                                    <li><a href="#">4</a></li>
                                                    <li><a href="#">5</a></li>
                                                    <li><a href="#">下一页</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="tab-pane" id="tab_2">
                                            <table class="table table-striped table-bordered table-hover dataTable" >
                                            <thead class="bg-lightgrey">
                                            <tr role="row">
                                                <th>监测时间</th>
                                                <th>检测站点</th>
                                                <th>故障类型</th>
                                                <th>故障描述</th>
                                                <th>持续时长</th>
                                                <th>处理状态</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>2015-06-01 12：00：00</td>
                                                <td>http://www.jxf.gov.cn</td>
                                                <td></td>
                                                <td>404</td>
                                                <td>5分钟</td>
                                                <td><span class="label label-warning">未处理</span></td>
                                                <td>
                                                    <a href="#" class="btn blue-stripe mini">忽略</a>
                                                    <a href="#" class="btn red-stripe mini">告警</a>
                                                </td>
                                            </tr>
                                            </tbody>

                                        </table>

                                            <div class="row no-margin">
                                                <ul class="pagination pull-right">
                                                    <li><a href="#">上一页</a></li>
                                                    <li><a href="#">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li class="active"><a href="#">3</a></li>
                                                    <li><a href="#">4</a></li>
                                                    <li><a href="#">5</a></li>
                                                    <li><a href="#">下一页</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<assign name='plugins' value='echarts'/>
<include file="./App/Service/View/footer.html" />