<include file="./App/Common/View/header.html" />
<link href="__PUBLIC__/asset/css/page/wafsite.css" rel="stylesheet" type="text/css" />
<style>
    table.dataTable tbody tr.selected {
        background-color: #b0bed9;
    }
</style>

<!--<input type="hidden" id="currentUserId" value="{$useId}">-->
<!--<input type="hidden" id="addActionId" value="{$addAction}">-->
<!--<input type="hidden" id="isSystemRoleId" value="{$isSystemRole}">-->
<!--<input type="hidden" id="clickWhichCountId" value="allCount">-->
<div class="main fixed">
    <div class="m-inner">
        <div class="widget">
            <div class="widget-heading">
                <div class="widget-title">客户列表</div>
            </div>

            <table class="u-grid" id="waf_site_table" width="100%">
                <thead>
                <tr>
                    <th><input type="checkbox" id="checkAll_id"/></th>
                    <th>名称</th>
                    <th>电话</th>
                    <th>邮箱</th>
                    <th>状态</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>

</div>




<include file="./App/Common/View/footer.html" />

<script type="text/javascript" src="__PUBLIC__/script/Base/client_list.js"  charset="utf-8"></script>