<include file="./App/Common/View/header.html" />
<link href="__PUBLIC__/asset/css/page/wafsite.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/asset/js/fileuploadcss/css/default.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/asset/js/fileuploadcss/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/asset/js/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/asset/js/select2/select2.css" rel="stylesheet" type="text/css">

<input type="hidden" value="{$listUser}" id="listUserId">
<input type="hidden" value="{$contract_id}" id="current_contract_id">
<input type="hidden" value="{$client_id}" id="current_client_id">

<div class="main fixed">
    <div class="m-inner">


        <div class="widget">
            <div class="widget-heading">
                <div class="widget-title">添加站点信息</div>
            </div>

            <div class="widget-sub-heading">
                <div class="widget-sub-title">合同信息</div>
                <div class="widget-tool">
                    <a href="javascript:;" class="collapse-link"><i class="fa fa-angle-double-up"></i></a>
                </div>
            </div>
            <div class="widget-content">
                <form  action="#" class="form-horizontal ">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="needWrite">* </span>关联合同</label>
                        <div class="col-sm-8">
                            <select style="width: 100%;" class="select2" name="client" id="contract_id">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="needWrite">* </span>客户名称</label>
                        <div class="col-sm-8">
                            <select style="width: 100%;" class="select2" name="client" id="client_id">

                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="widget">

            <div class="widget-sub-heading">
                <div class="widget-sub-title">站点信息</div>
                <div class="widget-tool">
                    <a href="javascript:;" class="collapse-link"><i class="fa fa-angle-double-up"></i></a>
                </div>
            </div>
            <div class="widget-content new_site_div">
                <form  action="#" class="form-horizontal ">

                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-8" style="padding-top: 5px;">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="inline">
                                    <a href="#" class="btn-add-site u-btn u-btn-success" ><i class="fa fa-plus"></i> 添加站点</a>
                                    <a href="#" class="btn-import-site u-btn u-btn-info" ><i class="fa fa-sign-in"></i> 导入站点</a>
                                    <label class="control-label"  style="margin-left: 10px;color: #ff0000;">请导入.xls或.xlsx 格式文件 <a href="__PUBLIC__/source/template/addSiteTemplate.xlsx"><span>(导入模板下载)</span></a></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-11" style="padding-top: 5px;">
                            <table class="u-grid" id="sites_table" width="100%">
                                <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>域名</th>
                                    <th>IP地址</th>
                                    <th>端口</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody class="site-list-table">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="widget-content edit_site_div" style="display: none;">
                <form id="form_id" action="#" class="form-horizontal " method="post">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="needWrite">* </span>站点名称</label>
                        <div class="col-sm-8">
                            <input type="text" style="width: 100%;" class="form-control m-wrap" name="key"  id="siteName_id" /> <!-- placeholder="站点名称" -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="needWrite">* </span>域名</label>
                        <div class="col-sm-8">
                            <!--<input type="text" style="width: 98%;" class="form-control m-wrap" name="key"  id="domains_id"  placeholder="服务器端口"/>-->
                            <!--<textarea style="width: 100%;" rows="6" id="domains_id"></textarea>-->
                            <input type="text" style="width: 100%;" class="form-control m-wrap" name="key"  id="domains_id"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="needWrite">* </span>服务器IP</label>
                        <div class="col-sm-3">
                            <input type="text" style="width: 100%;" class="form-control m-wrap" name="key"  id="ip_id"/>
                        </div>
                        <label class="col-sm-2 control-label"><span class="needWrite">* </span>服务器端口</label>
                        <div class="col-sm-3">
                            <input type="text" style="width: 100%;" class="form-control m-wrap" name="key"  id="port_id"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="widget">
            <div class="widget-sub-heading">
                <div class="widget-sub-title"> Https/SSL加密</div>
                <div class="widget-tool">
                    <a href="javascript:;" class="collapse-link"><i class="fa fa-angle-double-up"></i></a>
                </div>
            </div>
            <div class="widget-content">
                <form  action="#" class="form-horizontal ">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态</label>
                        <div class="col-sm-8" style="padding-top: 5px;">
                            <div class="switch">
                                <div class="switch-default is_http">
                                    <span class="text">禁用</span><span class="label"></span>
                                    <input type="checkbox" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group is_show_http_div" style="display: none">
                        <label class="col-sm-2 control-label">证书公钥</label>
                        <div class="col-sm-8">
                            <input type="hidden"  id="file1">
                            <input id="cert_public_key" class="file" type="file" multiple data-min-file-count="1">
                        </div>
                    </div>
                    <div class="form-group is_show_http_div" style="display: none">
                        <label class="col-sm-2 control-label">证书私钥</label>
                        <div class="col-sm-8">
                            <input type="hidden" id="file2">
                            <input id="cert_private_key" class="file" type="file" multiple data-min-file-count="1">
                        </div>
                    </div>
                    <div class="form-group is_show_http_div" style="display: none">
                        <label class="col-sm-2 control-label">证书链</label>
                        <div class="col-sm-8">
                            <input type="hidden" id="file3">
                            <input id="cert_ca_link" class="file" type="file" multiple data-min-file-count="1">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="widget">
            <div class="widget-sub-heading">
                <div class="widget-sub-title">WAF防护</div>
                <div class="widget-tool">
                    <a href="javascript:;" class="collapse-link"><i class="fa fa-angle-double-up"></i></a>
                </div>
            </div>
            <div class="widget-content">
                <form  action="#" class="form-horizontal ">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Waf告警</label>
                        <div class="col-sm-8" style="padding-top: 5px;">
                            <div class="switch">
                                <div class="switch-default on is_waf_warning">
                                    <span class="text">禁用</span><span class="label"></span>
                                    <input type="checkbox" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">防护模式</label>
                        <div class="col-sm-8">
                            <div>
                                <ul class="sub-nav-tab">
                                    <li><a href="#1" data="detect" data-toggle="tab">检测模式</a></li>
                                    <li class="active"><a href="#2" data="on" data-toggle="tab">防护模式</a></li>
                                    <li><a href="#3" data="off" data-toggle="tab">转发模式</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">DDoS防护</label>
                        <div class="col-sm-8" style="padding-top: 5px;">
                            <div class="switch">
                                <div class="switch-default on is_ddos">
                                    <span class="text">禁用</span><span class="label"></span>
                                    <input type="checkbox" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group is_show_ddos_div">
                        <label class="col-sm-2 control-label">高防实例</label>
                        <div class="col-sm-8">
                            <select style="width: 220px;" id="highInstance_id">
                                <option value="361312003">20G 电信</option>
                                <option value="361332008">30G 移动</option>
                                <!-- ddosBag-0wgwxxbrdrh3 -->
                                <option value="361352030">20G BGP</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="widget">
            <div class="widget-sub-heading">
                <div class="widget-sub-title"> 漏洞扫描</div>
                <div class="widget-tool">
                    <a href="javascript:;" class="collapse-link"><i class="fa fa-angle-double-up"></i></a>
                </div>
            </div>
            <div class="widget-content">
                <form  action="#" class="form-horizontal ">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态</label>
                        <div class="col-sm-8" style="padding-top: 5px;">
                            <div class="switch">
                                <div class="switch-default on is_loophole_scan">
                                    <span class="text">禁用</span><span class="label"></span>
                                    <input type="checkbox" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">漏洞告警</label>
                        <div class="col-sm-8" style="padding-top: 5px;">
                            <div class="switch">
                                <div class="switch-default loophole_warning">
                                    <span class="text">禁用</span><span class="label"></span>
                                    <input type="checkbox" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="widget">
            <div class="widget-sub-heading">
                <div class="widget-sub-title"> 可用性检测</div>
                <div class="widget-tool">
                    <a href="javascript:;" class="collapse-link"><i class="fa fa-angle-double-up"></i></a>
                </div>
            </div>
            <div class="widget-content">
                <form  action="#" class="form-horizontal ">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态</label>
                        <div class="col-sm-8" style="padding-top: 5px;">
                            <div class="switch">
                                <div class="switch-default on is_available">
                                    <span class="text">禁用</span><span class="label"></span>
                                    <input type="checkbox" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">可用性告警</label>
                        <div class="col-sm-8" style="padding-top: 5px;">
                            <div class="switch">
                                <div class="switch-default available_warning">
                                    <span class="text">禁用</span><span class="label"></span>
                                    <input type="checkbox" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="widget">
            <div class="widget-sub-heading">
                <div class="widget-sub-title"> 告警联系人</div>
                <div class="widget-tool">
                    <a href="javascript:;" class="collapse-link"><i class="fa fa-angle-double-up"></i></a>
                </div>
            </div>
            <div class="widget-content">
                <form  action="#" class="form-horizontal ">

                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-8" style="padding-top: 5px;">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="inline">
                                    <a href="#" class="btn-add-user u-btn u-btn-success" ><i class="fa fa-plus"></i> 添加联系人</a>
                                    <a href="#" class="btn-choose-user u-btn u-btn-info" ><i class="fa fa-check"></i> 选择联系人</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-11" style="padding-top: 5px;">
                            <table class="u-grid" id="add_users_table" width="100%">
                                <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>手机号</th>
                                    <th>邮箱</th>
                                    <th>告警方式</th>
                                    <th>短信/APP接收时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody class="contact-list-table">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="widget">
            <div class="widget-content">
                <form  action="#" class="form-horizontal ">
                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-8" style="padding-top: 5px;">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="inline">
                                    <button  href="#" class="btn-save u-btn u-btn-success" style="width: 120px;"><i class="fa fa-save"></i> 保存</button>
                                    <a  href="#" class="btn-reback u-btn u-btn-default" style="width: 120px;"><i class="fa fa-reply"></i> 返回列表</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div class="modal fade bs-example-modal-lg" id="add_site_modal" >
    <div class="modal-dialog"  >
        <div class="modal-content">
            <div class="modal-header"  style="background:#828080;border-bottom-width: 0px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">站点</h4>
            </div>
            <div class="modal-body" > <!-- style="background:#BEBEBE" -->
                <form class="form-horizontal" id="add_site_form" action="" data-parsley-validate>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label"><span style="color:#ff0000">*</span>名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="add_site_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label"><span style="color:#ff0000">*</span>域名</label>
                        <div class="col-sm-10">
                            <input type="hidden" class="form-control" name="add_site_domain_hidden">
                            <input type="text" class="form-control" name="add_site_domain" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label"><span style="color:#ff0000">*</span>IP</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="add_site_ip">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label"><span style="color:#ff0000">*</span>端口</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="add_site_port">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer alert_domain_footer"   style="background:#828080;border-bottom-width: 0px;">
                <div class="row">
                    <div class="col-md-2" style="text-align: left">
                        <label class="show_number_tag"></label>
                    </div>
                    <div class="col-sm-10" style="text-align: right">
                        <button type="button" class="btn btn-default contract_close" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary add_site_btn" style="">确定</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" id="add_user_modal" >
    <div class="modal-dialog"  >
        <div class="modal-content">
            <div class="modal-header"  style="background:#828080;border-bottom-width: 0px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">联系人</h4>
            </div>
            <div class="modal-body" > <!-- style="background:#BEBEBE" -->
                <form class="form-horizontal" id="add_user_form" action="" data-parsley-validate>
                    <input type="hidden" name="srcTelephone">
                    <div class="form-group">
                        <label  class="col-sm-2 control-label"><span style="color:#ff0000">*</span>电话号码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="telephone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label"><span style="color:#ff0000">*</span>用户姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="username" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label"><span style="color:#ff0000">*</span>邮箱</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="email">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label"><span class="required">*</span>客户名称</label>-->
                        <!--<div class="col-sm-10">-->
                            <!--<select class="m-wrap"  style="width: 100%;" name="contact_remark" id="contract_remark">-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">通知方式</label>
                        <div class="col-sm-10">
                            <input type="checkbox" class="msgInfo" data-value="1" name="msgInfo">短信通知
                            <input type="checkbox" class="mixinInfo" data-value="2" name="mixinInfo">APP通知
                            <input type="checkbox" class="emailInfo" data-value="4" name="emailInfo">邮件通知
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">告警时间</label>
                        <div class="col-sm-4">
                            <select style="width: 98%;" id="begin_time_id">
                                <option value="00">00</option><option value="01">01</option><option value="02">02</option><option value="03">03</option>
                                <option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option>
                                <option value="08" selected>08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option>
                                <option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option>
                                <option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option>
                                <option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option>
                                <option value="24">24</option>
                            </select>
                        </div>
                        <!--<div class="col-sm-2" style="text-align: center;">-->
                            <!--<label style="text-align: center;">至</label>-->
                        <!--</div>-->
                        <label  class="col-sm-2 control-label" style="text-align: center;">至</label>
                        <div class="col-sm-4">
                            <select style="width: 98%;" id="end_time_id">
                                <option value="00">00</option><option value="01">01</option><option value="02">02</option><option value="03">03</option>
                                <option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option>
                                <option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option>
                                <option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option>
                                <option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option>
                                <option value="20">20</option><option value="21">21</option><option value="22" selected>22</option><option value="23">23</option>
                                <option value="24">24</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer alert_domain_footer"   style="background:#828080;border-bottom-width: 0px;">
                <div class="row">
                    <div class="col-md-2" style="text-align: left">
                        <label class="show_number_tag"></label>
                    </div>
                    <div class="col-sm-10" style="text-align: right">
                        <button type="button" class="btn btn-default contract_close" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary user_add_btn" style="">确定</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- 选择联系人 -->
<div class="modal fade bs-example-modal-lg" id="choose_user_modal" >
    <div class="modal-dialog"  >
        <div class="modal-content">
            <div class="modal-header"  style="background:#828080;border-bottom-width: 0px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">选择联系人</h4>
            </div>
            <div class="modal-body" >
                <form class="form-horizontal" id="choseContact">
                    <div class="form-group">
                        <label class="control-label col-sm-2">联系人</label>
                        <div class="col-sm-10">
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="ztree_param">
                            </div>
                            <div class="col-sm-2">
                                <button class="btn ztree-search">查询</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"></label>
                        <div class="col-sm-8">
                            <div style="resize: none; height:400px ;overflow:hidden;overflow-y:auto; border:1px solid #000000; margin-left:15px">
                                <ul id="choose_contact_ztree" class="ztree"></ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer alert_domain_footer"   style="background:#828080;border-bottom-width: 0px;">
                <div class="row">
                    <div class="col-md-2" style="text-align: left">
                        <label class="show_number_tag"></label>
                    </div>
                    <div class="col-sm-10" style="text-align: right">
                        <button type="button" class="btn btn-default contract_choose_close" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary contract_choose_add" style="">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 导入站点 -->
<div class="modal fade bs-example-modal-lg" id="import_site_modal" >
    <div class="modal-dialog"  >
        <div class="modal-content">
            <div class="modal-header"  style="background:#828080;border-bottom-width: 0px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">导入站点</h4>
            </div>
            <div class="modal-body" >
                <form class="form-horizontal" id="import_site">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">导入文件</label>
                        <div class="col-sm-8">
                            <input type="hidden" id="import_file">
                            <input id="import_site_import" class="file" type="file" multiple data-min-file-count="1">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-2"></label>-->
                        <!--<div class="col-sm-8">-->
                            <!--<label class="control-label">请导入.xls或.xlsx 格式文件,<a href="__PUBLIC__/source/template/addSiteTemplate.xlsx">(导入模板下载)</a></label>-->
                        <!--</div>-->
                    <!--</div>-->
                </form>
            </div>
            <div class="modal-footer alert_domain_footer"   style="background:#828080;border-bottom-width: 0px;">
                <div class="row">
                    <div class="col-md-2" style="text-align: left">
                        <label class="show_number_tag"></label>
                    </div>
                    <div class="col-sm-10" style="text-align: right">
                        <button type="button" class="btn btn-default contract_choose_close" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<include file="./App/Common/View/footer.html" />
<script>
    /*开关按钮*/
    $('.switch div').filter(function(){
        $(this).hasClass('on')?
            ($(this).children('span.text').text('启用'))
            :($(this).children('span.text').text('禁用'));
    });
    $('.switch div').click(function(){
        $(this).toggleClass('on');
        $(this).hasClass('on') ? $(this).children('span.text').text('启用'):$(this).children('span.text').text('禁用');
    });
</script>
<script type="text/javascript" src="__PUBLIC__/asset/js/zTree_v3/js/jquery.ztree.all-3.5.min.js"></script>
<script src="__PUBLIC__/asset/js/fileuploadcss/js/fileinput.js" type="text/javascript"></script>
<script src="__PUBLIC__/asset/js/fileuploadcss/js/fileinput_locale_zh.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/asset/js/select2/select2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/script/Home/site_add.js"  charset="utf-8"></script>