<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>XXX-title</title>
<meta name="keywords" content="">
<meta name="description" content="">

<!--[if lt IE 9]>
<meta http-equiv="refresh" content="0;ie.html" />
<![endif]-->

<link rel="icon" href="__PUBLIC__/asset/img/fav.png" type="image/x-icon">
<link rel="shortcut icon" href="__PUBLIC__/asset/img/fav.png" type="image/x-icon">

<link rel="shortcut icon" href="#">
<link href="__PUBLIC__/asset/js/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/asset/css/font-awesome.min.css" rel="stylesheet">
<link href="__PUBLIC__/asset/css/animate.min.css" rel="stylesheet">
<link href="__PUBLIC__/asset/css/style.min.css" rel="stylesheet">
<link href="__PUBLIC__/asset/css/chosen.css" rel="stylesheet">

    <!--plugins begin-->
<link href="__PUBLIC__/asset/js/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/asset/js/plugins/sweetalert/sweetalert.css"  rel="stylesheet">
<link href="__PUBLIC__/asset/js/plugins/iCheck/iCheck.css"  rel="stylesheet">
<link href="__PUBLIC__/asset/js/plugins/sweetalert/sweetalert.css" ref="stylesheet" type="text/css">
<link href="__PUBLIC__/asset/js/plugins/parsley/parsley.css" ref="stylesheet" type="text/css">
<link href="__PUBLIC__/asset/js/plugins/select2/select2.css" rel="stylesheet" type="text/css">
    <!--plugins end-->
<link rel="stylesheet" href="__PUBLIC__/asset/css/common.css" >
<link rel="stylesheet" href="__PUBLIC__/asset/css/app.css" >
<input id="publicPath" type="hidden" value="__PUBLIC__">
<input id="rootPath" type="hidden" value="__ROOT__/index.php">
<input id="pathInfo" type="hidden" value="{$pathInfo}">





