<!--</aside>
</div>-->
</div> <!--end page-container-->
<div class="footer">
    <div class="footer-inner">
        <i class="fa fa-copyright"></i> 2007-2016 XXXX技术有限公司 保留所有版权
    </div>
</div>
</body>
<footer>
    <script type="text/javascript" src="__PUBLIC__/js/jquery/jquery.md5.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/parsley/parsley.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery/jquery.form.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/script/main.js"></script>
    <script type="text/javascript" src="__PUBLIC__/script/admin.main.js"></script>
    <!--<script type="text/javascript" src="__PUBLIC__/admin/admin.js"></script>-->
    <script  type="text/javascript" src="__PUBLIC__/js/dataTables/jquery.dataTables.js"></script>
    <script  type="text/javascript" src="__PUBLIC__/js/dataTables/dataTables.bootstrap.js"></script>
    <script  type="text/javascript" src="__PUBLIC__/js/dialog/bootstrap-dialog.min.js"></script>
    <script  type="text/javascript" src="__PUBLIC__/js/gritter/js/jquery.gritter.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--如果是IE 的版本小于IE9 ,只有引入html5shiv 和respond之后 bootstrap才能生效-->

    <script type="text/javascript" src="__PUBLIC__/js/metronic-bootstrap/js/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/metronic-bootstrap/js/select2.min.js"></script>
    <!--[if lt IE 9]>


    <script type="text/javascript" src="__PUBLIC__/js/bootstrap/js/html5shiv.min.js"></script>
    <script type="text/javascript"  src="__PUBLIC__/js/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__PUBLIC__/js/metronic-bootstrap/js/app.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/metronic-bootstrap/js/message.js"></script>
</footer>
</html>